.fun {
    background-image: url(../Prestadores/login.png);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;

}

body {
    color: #f8f9fa !important;
    font-family: 'Roboto', sans-serif;
}

.texto {
    color: #f8f9fa !important;
    font-family: 'Roboto', sans-serif;
}
